[workspace]
members = [
    "programs/*"
]
resolver = "2"

[workspace.dependencies]
anchor-lang = "0.30.1"
anchor-spl = "0.30.1"
solana-program = "1.18"
spl-token = "4.0"
spl-associated-token-account = "3.0"

[profile.release]
lto = "fat"
codegen-units = 1
overflow-checks = true
